$cyan: #22beef;
$amethyst: #cd97eb;
$green: #a2d200;
$orange: #ffc100;
$red: #ff4a43;
$greensea: #16a085;
$dutch: #1693A5;
$hotpink: #FF0066;
$drank: #A40778;
$blue: #418bca;
$redbrown: #d9544f;
$slategray: #3f4e62;

$font-color: #717171;